<!DOCTYPE html>
<html>
  <head>
    <title>Express Authorization Example</title>
  </head>
  <body>
    <h1>Express Authorization Example</h1>

    <p>You are currently logged in and are permitted to receive content authorized with the "noun:verb" permission.</p>

    <% if (authenticated) { %>
      <p>Click <a href="/logout">here to logout</a> or <a href="/">here to return to the home page</a>.</p>
    <% } else { %>
      <p>Click <a href="/">here to return to the home page</a>.</p>
    <% } %>


  </body>
</html>
