<!DOCTYPE html>
<html>
<head>
  <title>Express Authorization Example - Login</title>
</head>
<body>
<h1>Express Authorization Example - Login</h1>

<p>
  This express website serves as an example of the "express-authorize" module.
  "express-authorize" is an express/connect middleware module for enforcing an
  Apache Shiro inspired authorization system.
</p>

<p>
  Test it out with the following pages:
  <ul>
    <h3>Session</h3>
    <li><a href="/account">/account</a> – Requires the "account:view" permission</li>
    <li><a href="/account/edit">/account/edit</a> – Requires the "account:view" and "account:edit" permissions</li>
    <li><a href="/account/payment">/account/payments</a> – Requires the "account:view" and "payment:view" permissions</li>

    <h3>Subject (these are session-independent)</h3>
    <li><a href="/subject/yes">/subject/yes</a> – Requires the "subject:yes" permission</li>
    <li><a href="/subject/no">/subject/no</a> – Requires the "subject:no" permission</li>

    <h3>Permissions (these are also session-independent)</h3>
    <li><a href="/perm/yes">/perm/yes</a> – Requires the "perm:yes" permission</li>
    <li><a href="/perm/no">/perm/no</a> – Requires the "perm:no" permission</li>
  </ul>
</p>

<form method="POST" action="/login">
  <div>
    <label>Username</label>
    <input name="username" value=""/>
  </div>
  <div>
    <label>Password</label>
    <input name="password" type="password"/>
  </div>
  <input type="submit" value="Login" />
</form>

</body>
</html>
